body {
  margin: 0;
  padding: 0;x
  background: #F5F5F7;
  --darkpurple: #6416B8;
  --purple: #A259FF;
  --textcolor: #707381;
  --lighttextcolor: #FFFFFF;
  --headingcolor: #28292E;
  --maxwidth: 1440px;
  --boxshadow: 7px 10px 28px rgba(35, 11, 73, 0.09);
  --sidepadding: 40px;
  --borderradius: 10px;
}
header {
  background: url("header-bg-1.jpeg") no-repeat bottom center;
  background-size: cover;
}
.header-bg {
  background: url("top-img.png") no-repeat bottom center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;

    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

/* Typography */

h1, h2, h3, h4, h5, h6, p, a, li {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5em;
}
h1.mainheading {
  font-size: 26px;
}
p, li {
  color: #707381;
  font-size: 14px;
}
a {
  text-decoration: none;
  color: var(--purple);
}
.light-text p, h1, h2, h3, h4, h5, h6 {
  color: var(--lighttextcolor);
}
.bigger-text {
  font-size: 18px;
}



.tlu-container {
  display: grid;
  justify-items: center;
  max-width: var(--maxwidth);
  margin: 0 auto;
  padding: 0 25px;
}
.tlu-container2 {
  padding: 0px;
}
.item {
  padding: 20px;
}
.tlu-logo {
  padding-top: 40px;
  max-width: 90%;
  height: auto;
}
.top-block {
  max-width: 850px;
  margin: -80px auto 0 auto;
  background: #110416;
  padding: 50px;
  position: relative;
  bottom: -80px;
  border-radius: 0;
  box-shadow: none;

-webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 1.5s; /* Firefox < 16 */
    -ms-animation: fadein 1.5s; /* Internet Explorer */
     -o-animation: fadein 1.5s; /* Opera < 12.1 */
        animation: fadein 1.5s;
}


.centerContent {
  display: flex;
  width: 100%;
  justify-content: center;
  background: url("side-img.png") top left no-repeat;
  background-size: contain;
}
.centerBtn {
  display: flex;
  width: 100%;
  justify-content: center;
}
.responsive {
  max-width: 100%;
  height: auto;
}
.purpleBtn {
  max-width: 445px;
  text-transform: uppercase;
  color: #FFF;
  border: none;
  background: var(--darkpurple);
  padding: 10px 60px;
  border-radius: var(--borderradius);
  font-size: 24px;
  letter-spacing: 0.05em;
  font-weight: bold;
}
.purpleBtn:hover {
  background: var(--purple);
}

/* Bottom Images */
.bottom-images {
  display: flex;
  align-items: flex-end;
  margin-top: 20px;
}
.flex-1 {
  flex-grow: 1;
  text-align: center;
}
.flex-2 {
  flex-grow: 1;
  text-align: right;
}


/* Mobile Layout Text */
.mobile {
  display: block;
}
.cards {
  display: none;
}

/* Tablet and up */
@media (min-width: 451px) {
  .tlu-container2 {
    padding: 40px;
  }
  .top-block {
    border-radius: var(--borderradius);
    box-shadow: 0px 4px 50px rgba(135, 114, 170, 0.3);
    margin: 0 auto;
  }
  .tlu-logo {
    padding-top: 164px;
    max-width: 90%;
    height: auto;
  }
  h1.mainheading {
    font-size: 36px;
  }
  .bigger-text {
    font-size: 22px;
  }
  p, li {
    font-size: 16px;
  }
}

@media (max-width: 1234px) {
  .placeholder {
    display: none;
  }
  .floats {
    display: none;
  }
}

@media (min-width: 1235px) {
  .floats {
    display: grid;
    justify-items: center;
    margin-top: -370px;
  }
  .header-bg {
    max-height: 850px;
  }
  .card {
    --column1: 100px;
    --column3: 40px;
    position: relative;
  }
  .no1, .no4, .no7 {
    top: var(--column1);
  }
  .no2, .no5, .no8 {
  }
  .no3, .no6, .no9 {
    top: var(--column3);
  }
}


/* Cards */
.tlu-container-main {
  background: url("bg-2.png") no-repeat top right;
  padding: 0;
}
.jewelsvgs {
  width: 95px;
  height: auto;
  position: relative;
  top: -50px;
  left: -50px;
  display: block;
}
.cards {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
  grid-gap: 45px;
  max-width: var(--maxwidth);
  margin: 200px auto 0 auto;
  padding-left: var(--sidepadding);
  padding-right: var(--sidepadding);
}
.card p {
  color: var(--textcolor);
}
.card h3 {
  color: var(--headingcolor);
}
.cardHeading {
  margin-top: -30px;
}
.card:hover {
  transform: scale(1.05);
}
.card {
  background: #FFF;
  box-shadow: var(--boxshadow);
  border-radius: var(--borderradius);
  padding: 20px;
  height: 90%;

-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
     -o-animation: fadein 2s; /* Opera < 12.1 */
        animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/* Accordion */
.acc-heading h3 {
  color: var(--headingcolor);
}
.acc-container{
  width: 100%;
  max-width: var(--maxwidth);
  margin: 80px auto;
  padding-left: var(--sidepadding);
  padding-right: var(--sidepadding);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.fas {
  font-size: 26px;
}

/* accordion-1 */
#accordion-1{
  position: relative;
  box-shadow: var(--boxshadow);
  margin: 30px 0;
  background-color: #FFFFFF;
  border-radius: var(--borderradius);
}

#accordion-1 .acc-heading{
  color: var(--headingcolor);
  padding: 10px 30px;
  cursor: pointer;
  transition: 0.2s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#accordion-1 .arrow{
  color: #563e6e;
  transition: 0.25s ease;
  opacity: 0.3;
  transform: rotate(-90deg);
}

#accordion-1 .acc-heading:hover .arrow{
  opacity: 1;
}

#accordion-1 .acc-heading:hover, #accordion-1 .active{
}

#accordion-1 .arrow-animate{
  transform: rotate(0deg);
  opacity: 1;
}

#accordion-1 .content{
  display: none;
  padding: 20px 30px;
  color: #333333;
}
