---
layout: default
---
<!-- begin hero -->
<div class="container">
  <div class="row">
    <div class="col col-12">
      <div class="hero section">
        {% include hero-navigation.html %}
        <div class="hero__inner">
          {% if site.hero-image %}
          <div class="hero__image tlu-hero-banner" style="background: url('images/banner-01.jpg'); background-size: cover; text-align: center; ">
              <h1 class="mainheading" style="color: #FFF;">Welcome to Tari Labs University (TLU)</h1>
              <p class="bigger-text" style="color: #FFF">Our mission is to be the premier destination for balanced and accessible learning material for blockchain, digital currency and digital assets learning material.</p>
          </div>
          {% endif %}
        </div>
        <div class="col col-12" style="padding-top: 10px;">
          <div class="row grid">
            <div class="col col-5 col-d-12">
              <img src="images/index/laptop.png" class="responsive"/>
            </div>
            <div class="col col-7 col-d-12" style="padding-top: 70px;">
              <p>We hope to make this a learning experience for us at TLU: as a means to grow our knowledge base and internal expertise or as a refresher. We think this will also be an excellent resource for anyone interested in the myriad disciplines required to understand blockchain technology.</p>
              <p>We would like this platform to be a place of learning accessible to anyone, irrespective of their degree of expertise. Our aim is to cover a wide range of topics that are relevant to the TLU space, starting at a beginner level and extending down a path of deeper complexity.</p>
              <p>You are welcome to contribute to our online content by submitting a pull request or issue in GitHub. To help you get started, we've compiled a Style Guide for TLU reports. Using this Style Guide, you can help us to ensure consistency in the content and layout of TLU reports.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-12">
      <div class="centerBtn"><a href="/learning-paths" class="purpleBtn" style="margin-top: -45px;">Get Started!</a></div>
    </div>
  </div>
</div>
<!-- end hero -->

<div class="container" style="margin-bottom: 100px;">
  <div class="row">

  </div>
</div>

<div class="tlu-container-main">
<div class="container">
  <div class="row">
    <div class="col col-3 col-d-12" style="margin-bottom: 80px;">
      {% include sidebar-widgets/widget-tags.html %}
    </div>
    <div class="col col-9 col-d-12 container__inner section" style="margin-bottom: 100px; padding:50px;">
        <h2 style="text-align: center; border-bottom: 1px solid #F1F1F1; padding-bottom: 30px;">Learning Paths</h2>
        <div>
          <p>With a field that is rapidly developing it is very important to stay updated with the latest trends, protocols and products that have incorporated this technology.</p>
          <p>List of resources available to garner your knowledge in the Blockchain and cryptocurrency Domains is presented in the following paths:</p>
        </div>
          <div id="accordion-3">
            <div class="acc-heading">
              <h3>01. Learning about Blockchain Basics</h3>
              <i class="fas fa-angle-down arrow"></i>
            </div>
            <div class="content">
              <p>Blockchain Basics provides a broad and easily understood explanation of blockchain technology, as well as the history of value itself. Having an understanding of the value is especially important in grasping how blockchain and cryptocurrencies have the potential to reshape the financial industry.</p>
                <p><i class="fas fa-file-alt beg list-icon"></i><a href="https://medium.com/@cayle/so-you-think-you-need-a-blockchain-part-i-a75389808c00" target="_blank" class="list-link">So you think you need a blockchain? Part I</a></p>
                <p><i class="fas fa-file-alt beg list-icon"></i><a href="https://medium.com/@cayle/so-you-think-you-need-a-blockchain-part-ii-71a62c5f1a1a" target="_blank" class="list-link">So you think you need a blockchain? Part II</a></p>
                <p><i class="fas fa-laptop beg list-icon"></i><a href="/consensus-mechanisms/bft-consensus-mechanisms" class="list-link">BFT Consensus Mechanisms</a></p>
                <p><i class="fas fa-laptop beg list-icon"></i><a href="/protocols/lightning-network-for-dummies/" class="list-link">Lightning Network for Dummies</a></p>
                <p><i class="fas fa-laptop beg list-icon"></i><a href="/protocols/AtomicSwaps" class="list-link">Atomic Swaps</a></p>
                <p><i class="fas fa-book beg list-icon"></i><a href="/scaling/layer2scaling-survey" class="list-link">Layer 2 Scaling Survey</a></p>
                <p><i class="fas fa-book beg list-icon"></i><a href="/mining/MergedMiningIntroduction" class="list-link">Merged Mining Introduction</a></p>
                <p><i class="fas fa-laptop int list-icon"></i><a href="/protocols/merkle-trees-and-spv" class="list-link">Introduction to SPV, Merkle Trees and Bloom Filters</a></p>
                <p><i class="fas fa-laptop int list-icon"></i><a href="/cryptography/elliptic-curves" class="list-link">Elliptic Curves 101</a></p>
            </div>
          </div>
          <div id="accordion-3">
            <div class="acc-heading">
              <h3>02. Mimblewimble Implementation</h3>
              <i class="fas fa-angle-down arrow"></i>
            </div>
            <div class="content">
              <p>Mimblewimble is a blockchain protocol that focuses on privacy through the implementation of confidential transactions. It enables a greatly simplified blockchain in which all spent transactions can be pruned, resulting in a much smaller blockchain footprint and efficient base node validation. The blockchain consists only of block-headers, remaining Unspent Transaction Outputs (UTXO) with their range proofs and an unprunable transaction kernel per transaction.</p>
              <p><i class="fas fa-laptop beg list-icon"></i><a href="/protocols/mimblewimble" class="list-link">Mimblewimble</a></p>
              <p><i class="fas fa-book int list-icon"></i><a href="/cryptography/introduction-schnorr-signatures" class="list-link">Introduction to Schnorr Signatures</a></p>
              <p><i class="fas fa-book int list-icon"></i><a href="/cryptography/introduction-to-scriptless-scripts" class="list-link">Introduction to Scriptless Scripts</a></p>
              <p><i class="fas fa-book int list-icon"></i><a href="/protocols/grin-protocol-overview/" class="list-link">Mimblewimble-Grin Block Chain Protocol Overview</a></p>
              <p><i class="fas fa-book int list-icon"></i><a href="/protocols/grin-vs-beam-comparison" class="list-link">Grin vs. BEAM; a Comparison</a></p>
              <p><i class="fas fa-book int list-icon"></i><a href="/protocols/grin-design-choice-algorithms" class="list-link">Grin Design Choice Criticisms - Truth or Fiction</a></p>
              <p><i class="fas fa-book int list-icon"></i><a href="/protocols/mimblewimble-transactions-explained" class="list-link">Mimblewimble Transactions Explained</a></p>
              <p><i class="fas fa-book adv list-icon"></i><a href="/protocols/mimblewimble-mb-bp-utxo" class="list-link">Mimblewimble Multiparty Bulletproof UTXO</a></p>
            </div>
          </div>
          <div id="accordion-3">
            <div class="acc-heading">
              <h3>03. Learning about Bulletproofs</h3>
              <i class="fas fa-angle-down arrow"></i>
            </div>
            <div class="content">
              <p>Bulletproofs are short non-interactive zero-knowledge proofs that require no trusted setup. A bulletproof can be used to convince a verifier that an encrypted plaintext is well formed. For example, prove that an encrypted number is in a given range, without revealing anything else about the number.</p>
              <p><i class="fas fa-book int list-icon"></i><a href="/cryptography/bulletproofs-and-mimblewimble/" class="list-link">Bulletproofs and Mimblewimble</a></p>
              <p><i class="fas fa-book int list-icon"></i><a href="/cryptography/building-on-bulletproofs/" class="list-link">Building on Bulletproofs</a></p>
              <p><i class="fas fa-book adv list-icon"></i><a href="/cryptography/the-bulletproof-protocols" class="list-link">The Bulletproof Protocols	</a></p>
              <p><i class="fas fa-book adv list-icon"></i><a href="/protocols/mimblewimble-mb-bp-utxo" class="list-link">Mimblewimble Multiparty Bulletproof UTXO</a></p>
            </div>
          </div>
        <div class="key">
          <div class="key-item"><i class="fas fa-stop key-icon beginner"></i>Beginner</div>
          <div class="key-item"><i class="fas fa-stop key-icon intermediate"></i>Intermediate</div>
          <div class="key-item"><i class="fas fa-stop key-icon advanced"></i>Advanced</div>
          <div class="key-item"><i class="fas fa-file-alt key-icon"></i>Article</div>
          <div class="key-item"><i class="fas fa-laptop key-icon"></i>Presentation</div>
          <div class="key-item"><i class="fas fa-book key-icon"></i>Report</div>
          <div class="key-item"><i class="fas fa-video key-icon"></i>Video</div>
        </div>
    </div>
    <div class="col col-12">
      <center><h1 style="margin-bottom: 50px;">Topics</h1></center>
            {% include featuredcard-light.html %}
    </div>
  </div>
</div>

<div class="container">
<div class="col col-12">
<div class="acc-container">
  <div id="accordion-1">
    <div class="acc-heading">
      <h3>Errors, Comments and Contributions</h3>
      <i class="fas fa-angle-down arrow"></i>
    </div>
    <div class="content">
      <p>We would like this collection of educational presentations and videos to be a collaborative affair. This extends to our presentations. We are learning along with you. Our content may not be perfect first time around, so we invite you to alert us to errors and issues or, better yet, if you know how to make a pull request, to contribute a fix, write the correction and make a pull request.</p>
      <p>As much as this learning platform is called Tari Labs University and will see input from many internal contributors and external experts, we would like you to contribute to new material, be it in the form of a suggestion of topics, varying the skill levels of presentations, or posting presentations that you may feel will benefit us as a growing community. In the words of Yoda, “Always pass on what you have learned.”</p>
    </div>
  </div>
    <div id="accordion-1">
      <div class="acc-heading">
        <h3>Guiding Principles</h3>
        <i class="fas fa-angle-down arrow"></i>
      </div>
      <div class="content">
        <p>If you are considering contributing content to TLU, please be aware of our guiding principles:</p>
        <ol>
          <li>The topic researched should be potentially relevant to the Tari protocol; chat to us on #tari-research on IRC if you're not sure.</li>
          <li>The topic should be thoroughly researched.</li>
          <li>A critical approach should be taken (in the academic sense), with critiques and commentaries sought out and presented alongside the main topic. Remember that every white paper promises the world, so go and look for counterclaims.</li>
          <li>A recommendation/conclusion section should be included, providing a critical analysis on whether or not the technology/ proposal would be useful to the Tari protocol.</li>
          <li>The work presented should be easy to read and understand, distilling complex topics into a form that is accessible to a technical but non-expert audience. Use your own voice.</li>
        </ol>
      </div>
    </div>
      <div id="accordion-1">
        <div class="acc-heading">
          <h3>Submission Process</h3>
          <i class="fas fa-angle-down arrow"></i>
        </div>
        <div class="content">
          <p>This is the basic submission process we follow within TLU. We would appreciate it if you, as an external contributor, follow the same process.</p>
          <ol>
            <li>Get some agreement from the community that the topic is of interest.</li>
            <li>Write up your report.</li>
            <li>Push a first draft of your report as a pull request.</li>
            <li>The community will peer-review the report, much the same as we would with a code pull request.</li>
            <li>The report is merged into the master.</li>
            <li>Receive the fame and acclaim that is due.</li>
          </ol>
        </div>
      </div>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script><script  src="./images/index/accordion.js"></script>
  </div>
  </div>
  </div>

  <div class="centerBtn"><a href="/learning-paths" class="purpleBtn">Start Learning!</a></div>
  <div class="bottom-images">
    <div class="flex-1"><img src="./images/index/bottom-img-1.png" width="339" height="85" class="responsive"/></div>
    <div class="flex-2"><img src="./images/index/bottom-img-2.png" width="" height="" class="responsive"/></div>
    </div>
</div>
