<div class="widget-sidebar widget-tags">
  <div class="widget__head section-top">
    <h4 class="widget__title">Tags</h4>
  </div>
  <div class="widget-tags__inner">
    {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
    {% assign tag_words = site_tags | split:',' | sort %}

    {% for item in (0..site.tags.size) %}{% unless forloop.last %}
    {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
    <a href="{{ site.baseurl }}/tag/{{ this_word | cgi_escape }}.html" class="widget__tag"><h5 class="widget__tag-name">{{ this_word }}</h5><span class="widget__tag-count">{{ site.tags[this_word].size }}</span></a>
    {% endunless %}{% endfor %}
  </div>
</div>
