<div class="article col col-4 col-d-6 col-t-12 grid__post">
  {% if post.image %}
  <a href="{{post.url | prepend: site.baseurl}}">
    <div class="tlu-card-container">
    <div class="fadein tlu-card-img" style="background-image: url({{site.baseurl}}{{post.image}});">
    <p class="tlu-post-title">{{post.title}}</p>
    </div>
    </div>
    </a>
  {% endif %}
  <div class="article__content">
    <div class="tlu-excerpt">
      <a href="{{ post.url | prepend: site.baseurl }}">
        {% if post.description %}
          {{post.description | strip_newlines | truncatewords: 35}}
        {% endif %}
        </a>
    </div>
    <div class="article-tags">
    {% if post.tags.size >= 1 %}
      <div class="article-tags__box">
        {% for tag in post.tags %}
        <a href="{{ site.baseurl }}/tag/{{ tag }}" class="article__tag">{{ tag }}</a>
        {% endfor %}
      </div>
    {% endif %}
    </div>
  </div>
</div>
