<div style="margin-bottom: 20px;">
  <a href="{{ post.url | prepend: site.baseurl }}">
    <div class="tlu-card-container">
      <div class="tlu-card-img" style="background-image: url({{site.baseurl}}{{post.image}});">
        {% if post.format %}
          <img src="/images/icons/light-{{ post.format }}.svg" style="width: 50px; margin-bottom: 10px;" />
        {% endif %}
        <p class="tlu-post-title">{{post.title}}</p>
      </div>
    </div>
  </a>
  <div class="article__content">
    <div class="tlu-excerpt">
      <a href="{{ post.url | prepend: site.baseurl }}">
        {% if post.description %}
          {{post.description | strip_newlines | truncatewords: 35}}
        {% endif %}
        </a>
    </div>
    <div class="article-tags">
    {% if post.tags.size >= 1 %}
      <div class="article-tags__box">
        {% for tag in post.tags %}
        <a href="{{ site.baseurl }}/tag/{{ tag }}.html" class="article__tag">{{ tag | capitalize | replace:'-',' ' }}</a>
        {% endfor %}
      </div>
    {% endif %}
    </div>
  </div>
</div>
