<div class="modules desktop">
  <a href="/course1/">
    <div class="module">
      <img src="/images/icon-1.svg" class="modulesvgs"/>
      <div class="moduleInner">
        <span class="moduleTime"><img src="/images/clock.svg"> 5 hours</span>
        <h5 class="moduleHeading">Course 1:<br />
          Introduction to Blockchain</h5>
        <img class="moduleLine" src="/images/index/line-purple.svg" />
        <p>A very high-level and gentle introduction to blockchain concepts. This course gives you the tools you need to be able to read and understand the Bitcoin whitepaper.<br />
          Audience: everyone</p>
        <span class="moduleTick"><img src="/images/tickmark.svg"></span>
      </div>
    </div>
  </a>
</div>
<div class="key">
  <div class="key-item"><img src="/images/icons/key-beginner.svg">Beginner</div>
  <div class="key-item"><img src="/images/icons/key-intermediate.svg">Intermediate</div>
  <div class="key-item"><img src="/images/icons/key-advanced.svg">Advanced</div>
</div>
