<nav role="navigation" class="topmenu">
  <ul class="nav__list list-reset">
    <li class="nav__item">
      <a href="{{ site.baseurl }}/" class="nav__link">Home</a>
    </li>
    <li class="nav__item">
      <a href="{{ site.baseurl }}/about/" class="nav__link">About</a>
    </li>
    <li class="nav__item">
      <a href="{{ site.baseurl }}/categories/" class="nav__link">Categories</a>
    </li>
    <li class="nav__item">
      <a href="{{ site.baseurl }}/filter/" class="nav__link">Filter</a>
    </li>
    <li class="nav__item">
      <a href="{{ site.baseurl }}/glossary/" class="nav__link">Glossary</a>
    </li>
  </ul>
</nav>
