<!-- begin footer -->
<footer class="footer">
  <div class="container">
    <div class="tlu-footerbio-container">
    <div>
      {% include footer-widgets/nav-widget.html %}
      </div>
      <div>
        <div class="tlu-footerbio-container">
        <img class="tlu-footer-img" src="/images/tari-labs.png" />
        <div class="tlu-footerbio">
          <h5>Tari Labs University</h5>
          <p>Our mission is to be the premier destination for balanced and accessible learning material for blockchain, digital currency and digital assets learning material.</p>
          </div>
        </div>
        </div>
    </div>
    <div class="col col-12">
      <div class="footer__inner">
        <div class="copyright">{{site.time | date: '%Y'}} &copy; <a href="/"><strong>{{site.title}}</strong></a>.</div>
        {% include social-links.html %}
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->

<!-- <footer class="footer">
  <div class="container">
    <div class="row">
    <div class="col col-4">
      {% include footer-widgets/nav-widget.html %}
      </div>
      <div class="col col-8">
        <div class="tlu-footerbio-container">
        <img class="tlu-footer-img" src="/images/tari-labs.png" />
        <div class="tlu-footerbio">
          <h5>Tari Labs University</h5>
          <p>Our mission is to be the premier destination for balanced and accessible learning material for blockchain, digital currency and digital assets learning material.</p>
          </div>
        </div>
        </div>
      <div class="col col-12">
        <div class="footer__inner">
          <div class="copyright">{{site.time | date: '%Y'}} &copy; <a href="/"><strong>{{site.title}}</strong></a>.</div>
          {% include social-links.html %}
        </div>
      </div>
    </div>
  </div>
</footer> -->
