<div class="hero__nav">
  <div class="menu-overlay">
    <nav class="main-nav">
      <div class="main-nav__box">

        <div class="nav__icon-close">
          <i class="ion ion-md-close"></i>
        </div>

        <div class="nav-grid">
          <div class="nav-grid__item">
            <h2 class="nav-grid__title">Menu</h2>
            <div class="mobile-nav">
              {% include navigation.html %}
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="navigation">

    <div class="top-nav">
      {% include navigation.html %}
    </div>

    <div class="nav-buttons">
      <i class="nav__icon nav__icon-menu ion ion-md-menu"></i>
      <i class="nav__icon nav__icon-search ion ion-md-search"></i>
    </div>

  </div>
</div>