<script
        src="https://widget.kapa.ai/kapa-widget.bundle.js"
        data-website-id="{{ site.kapa.data-website-id }}"
        data-project-name="{{ site.kapa.data-project-name }}"
        data-project-color="{{ site.kapa.data-project-color }}"
        data-project-logo="{{ site.kapa.data-project-logo }}"
        data-modal-title="{{ site.kapa.data-modal-title }}"
        data-modal-disclaimer="{{ site.kapa.data-modal-disclaimer }}"
        data-search-mode-enabled="{{ site.kapa.data-search-mode-enabled }}"
></script>
