<ul class="nav__list list-reset">
  <li class="nav__item">
    <a href="{{ site.baseurl }}/" class="nav__link">Home</a>
  </li>
  {% for page in site.pages %}
    {% unless page.name == 'tags.html' or page.name == '404.html' or page.url contains 'author' or page.url contains 'tag' %}
      {% if page.title %}
      <li class="nav__item">
        <a href="{{ page.url | prepend: site.baseurl }}" class="nav__link">{{ page.title }}</a>
      </li>
      {% endif %}
    {% endunless %}
  {% endfor %}
</ul>