<nav role="navigation" class="topmenu">
  <ul class="nav__list list-reset">
    <li class="nav__item">
      <a href="{{ site.baseurl }}/" class="nav__link">Home</a>
    </li>
    <li class="nav__item">
      <a href="{{ site.baseurl }}/about/" class="nav__link">About</a>
    </li>

    <li class="nav__item"><a href="{{ site.baseurl }}/categories/" class="nav__link">Categories</a>
      <ul class="nav__item">
        {% for post in site.posts reversed %}
          {% if post.featured %}
            <li><a href="{{ post.url | prepend: site.baseurl }}" class="nav__link secondary">{{ post.category | replace:'-',' ' }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>

    <li class="nav__item"><a href="{{ site.baseurl }}/courses/" class="nav__link">Courses</a>
      <ul class="nav__item">
        {% for post in site.posts reversed %}
          {% if post.format == "course" %}
            <li><a href="{{ post.url | prepend: site.baseurl }}" class="nav__link secondary">{{ post.category | replace:'-',' ' }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>

    <li class="nav__item">
      <a href="{{ site.baseurl }}/filter/" class="nav__link">Filter</a>
    </li>
    <li class="nav__item">
      <a href="{{ site.baseurl }}/glossary/" class="nav__link">Glossary</a>
    </li>
  </ul>
</nav>
