<div class="search">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="search__box">
          <div class="search__close">
            <i class="ion ion-md-close"></i>
          </div>
          <div class="search__group">
            <label for="js-search-input" class="screen-reader-text">Search for Blog</label>
            <input type="text" id="js-search-input" class="search__text" autocomplete="off" placeholder="Type to search...">
          </div>
          <div id="js-results-container" class="search-results-list"></div>
        </div>
      </div>
    </div>
  </div>
</div>
