@font-face {
    font-family: 'Avenir-Black';
    src: url('/assets/fonts/Avenir-Black.woff2') format('woff2'),
         url('/assets/fonts/Avenir-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Book';
    src: url('/assets/fonts/Avenir-Book.woff2') format('woff2'),
         url('/assets/fonts/Avenir-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Heavy';
    src: url('/assets/fonts/Avenir-Heavy.woff2') format('woff2'),
         url('/assets/fonts/Avenir-Heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Light';
    src: url('/assets/fonts/Avenir-Light.woff2') format('woff2'),
         url('/assets/fonts/Avenir-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Medium';
    src: url('/assets/fonts/Avenir-Medium.woff2') format('woff2'),
         url('/assets/fonts/Avenir-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Roman';
    src: url('/assets/fonts/Avenir-Roman.woff2') format('woff2'),
         url('/assets/fonts/Avenir-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Din';
    src: url('/assets/fonts/Din.woff2') format('woff2'),
         url('/assets/fonts/Din.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Din-Bold';
    src: url('/assets/fonts/Din-Bold.woff2') format('woff2'),
         url('/assets/fonts/Din-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
:root {
  font-size: 14px;
}
body {
  margin: 0;
  padding: 0;
  background: #F5F5F7;
  --darkpurple: #6416B8;
  --purple: #A259FF;
  --textcolor: #707381;
  --lighttextcolor: #FFFFFF;
  --headingcolor: #28292E;
  --maxwidth: 1440px;
  --boxshadow: 0 5px 15px 0 rgba(78, 19, 126, 0.1);
  --boxshadow-hover: 10px 20px 30px 0 rgba(78, 19, 126, 0.1);
  --sidepadding: 5px;
  --borderradius: 5px;
}
@media(min-width: 769px) {
  :root {
    font-size: 16px;
  }
  body {
  --sidepadding: 40px;
  }
}
.header1 {
  background: url("/images/index/header-bg-3.jpg") no-repeat bottom center;
  background-size: cover;
  height: calc(100vh + 50px);
  min-height: 500px;
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 500px;
  height: 100vh;
  padding: 30px var(--sidepadding) 10px var(--sidepadding);
}
.intro h1,
.intro h4 {
  color: #FFF;
}
.home-intro2 {
  padding: 40px var(--sidepadding) 20px var(--sidepadding);
  margin-left: 0 !important;
  margin-right: 0 !important;
  background: #FFF;
  border-radius: var(--borderradius);
  box-shadow: var(--boxshadow);
}
@media (min-width: 769px) {
  .header1 {
    min-height: 750px;
  }
  .home-intro2 {
    padding: 120px var(--sidepadding) 120px var(--sidepadding);
    margin-left: 40px !important;
    margin-right: 40px !important;
  }
  .intro {
    height: 100vh;
    min-height: 800px;
    padding: 30px var(--sidepadding) 0px var(--sidepadding);
  }
}
.topics-banner {
   background: rgba(219, 217, 232, 0.26);
   padding: 70px 70px 50px 70px;
   text-align: center;
   color: #4D4E4E;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
.topics-banner h3 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 15px;
}
.topics-banner h4 {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: bold;
}
.topics-img1 {
  position: absolute;
  top: 190px;
  margin-left: 120px;
}
.banner {
   color: #4D4E4E;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
.learn {
     background: #75C2C2;
     margin-top: 50px;
     margin-bottom: 50px;
     padding: 50px;
}
.banner li {
  font-size: 20px;
  font-weight: 500;
}
.wrap_beg {
  background: #FFE599;
  padding: 10px;
  display: block;
}
.wrap_int {
  background: #B6D7A8;
  padding: 10px;
  display: block;
}
.wrap_adv {
  background: #A2C4C9;
  padding: 10px;
  display: block;
}

/* Headings */
.centered {
  text-align: center;
  clear: both;
  padding-top: 50px;
  padding-bottom: 70px;
}
.highlight-headings {
  font-size: 2rem;
  margin-bottom: 10px;
}
.highlight-wrapper {
  position: relative;
  display: inline-block;
  margin-bottom: -22px;
  z-index: 2;
}
.heading-highlight {
  height: 15px;
  position: absolute;
  z-index: -1;
  margin-top: 30px;
}
.hl1 {
  width: 100%;
  background: rgba(117, 194, 194, 0.4);
  transform: rotate(3.31deg);
}
.hl2 {
  width: 100%;
  background: rgba(238, 165, 98, 0.4);
  transform: rotate(-3.95deg);
}
.hl3 {
  width: 100%;
  background: rgba(162, 89, 255, 0.4);
  transform: rotate(2.15deg);
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Avenir-Heavy', sans-serif;
  line-height: 1.5em;
  color: #090719;
  font-weight: 500;
}
p, a, li {
  font-family: 'Avenir-Roman', sans-serif;
  line-height: 1.5em;
  color: #444;
  font-size: 16px;
}
h1.mainheading {
  font-size: 1.875rem;
  margin-top: 30px;
}
a {
  text-decoration: none;
  color: var(--purple);
}
.light-text p, h1, h2, h3, h4, h5, h6 {
  color: var(--lighttextcolor);
}
.tlu-container {
  display: grid;
  justify-items: center;
  max-width: var(--maxwidth);
  margin: 0 auto;
  padding: 0 25px;
}
.tlu-container2 {
  padding: 0px;
}
.item {
  padding: 20px;
}
.tlu-logo {
  padding-top: 0px;
  max-width: 80%;
  height: auto;
}
.top-block {
  max-width: 900px;
  margin: -80px auto 0 auto;
  background: #110416;
  padding: 30px 50px;
  position: relative;
  bottom: -80px;
  border-radius: 0;
  box-shadow: none;
}

.centerContent {
  display: flex;
  width: 100%;
  justify-content: center;
  background: url("../index/side-img.png") top left no-repeat;
  background-size: contain;
}
.centerBtn {
  display: flex;
  width: 100%;
  justify-content: center;
}
.responsive {
  max-width: 100%;
  height: auto;
}
.purpleBtn {
  color: #FFF !important;
  border: none;
  background: var(--purple);
  padding: 10px 20px;
  border-radius: var(--borderradius);
  font-weight: bold;
  max-width: 400px;
  margin: 0 auto;
  display: block;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  font-size: 1.25rem;
  letter-spacing: 0.05em;
}
.purpleBtn:hover {
  background: var(--darkpurple);
}

/* Home page */

.grey-bg {
  background: rgba(219, 217, 232, 0.26);
  text-align: center;
}
.grey-bg ul {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 30px 0 50px;
  list-style-image: url("/images/list-purple.svg");
}
.grey-bg li {
  font-size: 1.5rem;
  text-align: left;
  line-height: 3rem;
}
.grey-bg h4 {
  text-transform: uppercase;
}
.home-inner {
  padding: 100px 0 70px 0;
}
.banner-inner {
  padding: 50px 0;
}
.intro-text {
  font-size: 1.375rem;
  border-bottom: 3px solid #A259FF;
  padding-bottom: 30px;
  color: #4D4E4E;
}

/* Mobile Layout Text */
.mobile {
  display: block;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  margin: 30px auto 0 auto;
  padding-left: var(--sidepadding);
  padding-right: var(--sidepadding);
}
.tlu-container-main {
  background: url("../index/bg-2.png") no-repeat top right;
  padding: 0;
}
.jewelsvgs {
  width: 70px;
  height: auto;
  position: relative;
  top: -40px;
  left: -40px;
  display: block;
}
.card p {
  color: var(--textcolor);
}
.card h3 {
  color: var(--headingcolor);
}
.cardHeading {
  margin-top: -30px;
  margin-bottom: 0;
}
.cardLine {
  margin: 25px 0;
}
.card:hover {
  transform: scale(1.02);
  box-shadow: var(--boxshadow-hover);
}
.card {
  background: #FFF;
  box-shadow: var(--boxshadow);
  border-radius: var(--borderradius);
  padding: 20px;
  height: 90%;
  min-height: 350px;
  transition: all 0.3s ease-in-out;
}
.intro h1 {
  font-family: "Avenir-Black", sans-serif;
  font-size: 2.2rem;
  animation-name: fadein;
  opacity: 0;
  margin-bottom: 0;
}
.intro h4 {
  font-size: 1.2rem;
  opacity: 0;
}
@media (min-width: 481px) {
  .intro h1 {
    font-size: 2.7rem;
  }
  .intro h4 {
    font-size: 1.4rem;
  }
}
.step1 {
  animation: fadein 1s ease-in 1s forwards;
}
.step2 {
  animation: fadein 1s ease-in 2.3s forwards;
}
.step3 {
  animation: fadein 0.8s ease-in 3.4s forwards;
}
.step4 {
  animation: fadein 1s ease-in 3.6s forwards;
}
.step5 {
  opacity: 0;
  animation: fadein 1s ease-in 4.5s forwards;
}
.intro-separator {
  margin-bottom: 30px;
  margin-top: 30px;
  opacity: 0;
}
@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

.light-logo {
  text-align: center;
}
/* Tablet and up */
@media (min-width: 481px) {
  .cards {
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
    max-width: var(--maxwidth);
    grid-gap: 45px;
  }

  .jewelsvgs {
    width: 95px;
    top: -50px;
    left: -50px;
  }
  .tlu-container2 {
    padding: 0 40px 40px 40px;
  }
  .top-block {
    border-radius: var(--borderradius);
    box-shadow: 0px 4px 50px rgba(135, 114, 170, 0.3);
    margin: 0 auto;
  }
  .tlu-logo {
    padding-top: 0;
    max-width: 80%;
    height: auto;
  }
  h1.mainheading {
    font-size: 40px;
  }
  .intro h1 {
    font-family: "Avenir-Black", sans-serif;
    font-size: 3.5rem;
    animation-name: fadein;
    opacity: 0;
    margin-bottom: 0;
  }
  .intro h4 {
    font-size: 1.8rem;
    opacity: 0;
  }
}

@media (max-width: 1234px) {
  .placeholder {
    display: none;
  }
  .floats {
    display: none;
  }
}

@media (min-width: 1235px) {
  .floats {
    display: grid;
    justify-items: center;
    margin-top: -370px;
  }
  .header-bg {
    max-height: 850px;
  }
  .card {
    --column1: 100px;
    --column3: 40px;
    position: relative;
  }
  .no1, .no4, .no7 {
    top: var(--column1);
  }
  .no2, .no5, .no8 {
  }
  .no3, .no6, .no9 {
    top: var(--column3);
  }
}


/* Accordion */
.acc-heading h3 {
  color: var(--headingcolor);
}
.acc-container{
  width: 100%;
  max-width: var(--maxwidth);
  margin: 80px auto;
  padding-left: var(--sidepadding);
  padding-right: var(--sidepadding);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.fas,
.fa-solid {
  font-size: 26px;
}

/* accordion-1 */
#accordion-1 h3 {
  font-size: 18px;
  margin: 20px 0px;
}
#accordion-1 {
  position: relative;
  box-shadow: var(--boxshadow);
  margin: 30px 0;
  background-color: #FFFFFF;
  border-radius: var(--borderradius);
}

#accordion-1 .acc-heading{
  color: var(--headingcolor);
  padding: 10px 30px;
  cursor: pointer;
  transition: 0.2s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#accordion-1 .arrow{
  color: #563e6e;
  transition: 0.25s ease;
  opacity: 0.3;
  transform: rotate(-90deg);
}

#accordion-1 .acc-heading:hover .arrow{
  opacity: 1;
}

#accordion-1 .acc-heading:hover, #accordion-1 .active{
}

#accordion-1 .arrow-animate{
  transform: rotate(0deg);
  opacity: 1;
}

#accordion-1 .content{
  display: none;
  padding: 20px 30px;
  color: #333333;
}


/* accordion-2 */
#accordion-2 h5 {
  font-size: 15px;
  margin: 10px 0px;
}
#accordion-2 {
  position: relative;
  margin: 0;
  background-color: #FFFFFF;
}

#accordion-2 .acc-heading{
  color: var(--headingcolor);
  padding: 15px 0
  cursor: pointer;
  transition: 0.2s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #EFEFEF;
}

#accordion-2 .arrow{
  color: #563e6e;
  transition: 0.25s ease;
  opacity: 0.3;
  transform: rotate(-90deg);
}

#accordion-2 .acc-heading:hover .arrow{
  opacity: 1;
}

#accordion-2 .arrow-animate{
  transform: rotate(0deg);
  opacity: 1;
}

#accordion-2 .content{
  display: none;
  padding: 20px 0;
  color: #333333;
}
#accordion-2 .content li {
  font-size: 15px;
}

/* accordion-3 */
.acc-container-3{
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#accordion-3 h3 {
  font-size: 18px;
  margin: 20px 0px;
}
#accordion-3 {
  position: relative;
  margin: 0;
  background-color: #FFFFFF;
}

#accordion-3 .acc-heading{
  color: var(--headingcolor);
  padding: 15px 0
  cursor: pointer;
  transition: 0.2s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #60B2B2;
}

#accordion-3 .arrow{
  color: #563e6e;
  transition: 0.25s ease;
  opacity: 0.3;
  transform: rotate(-90deg);
}

#accordion-3 .acc-heading:hover .arrow{
  opacity: 1;
}

#accordion-3 .arrow-animate{
  transform: rotate(0deg);
  opacity: 1;
}

#accordion-3 .content{
  display: none;
  padding: 20px 0;
  color: #333333;
}
#accordion-3 .content li {
  font-size: 15px;
}

.fas-2 {
  font-size: 18px;
}

/* Card Images */
.tlu-card-container {
  overflow: hidden;
  border-radius: 5px;
}
.tlu-card-img {
  background-size: cover;
  height: 250px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  background-position: top left;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  flex-direction: column;
}
.tlu-card-img:hover {
  opacity: 0.9;
}
.tlu-post-title {
  color: #FFF;
  font-weight: bold;
  font-size: 22px;
  margin: 0;
}
.tlu-excerpt {
  margin: 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #EFEFEF;
  font-size: 15px;
}
.tlu-footerbio-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.tlu-footer-img {
 display: none;
}
.tlu-footerbio p {
  margin-bottom: 0;
}
.tlu-footerbio h5 {
  margin-bottom: 10px;
}
.tlu-footerbio {
  padding: 30px;
  max-width: 700px;
}

@media (min-width: 769px) {
  .tlu-footerbio-container {
    flex-direction: row;
  }
  .tlu-footer-img {
    width: 160px;
    height: 160px;
    box-shadow: 3px 5px 15px #e1e1e1;
    border-radius: 100px;
    display: block;
  }
}

.tlu-highlight {
  background: #EA9999;
  padding: 10px;
  display: block;
}

.tlu-maintoc {
  margin-top: 30px;
}
.tlu-emphasis {
  font-size: 18px;
}
.tlu-iframe {
  width: 100%;
  height: 700px;
}


/* Cards */
.tlu-cards {
  display: flex;
  align-items: flex-start;
  flex-direction: column;;
}
.tlu-cardicons {
  width: 90px;
  height: 90px;
  margin-right: 30px;
  padding: 15px;
  box-shadow: 3px 5px 15px #e1e1e1;
  border-radius: 50px;
}
.tlu-cardHeading {
  margin: 15px 0;
  font-weight: 600;
  font-size: 1.1em;
}

@media (min-width: 700px) {
  .tlu-cards {
    flex-direction: row;
  }
}

#breadcrumbs {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #748094;
}

#breadcrumbs a {
  color: #748094;
  font-size: 12px;
}

#breadcrumbs a:hover {
  color: #6416B8;
}

.note {
  padding: 15px;
  border-radius: 5px;
  background: #AA8CBE;
  color: #FFF;
  margin-bottom: 20px;
  box-shadow: 5px 5px 15px #CCC;
}
.note a {
  color: #FFF !important;
  font-weight: 700;
}
.note:before {
  content: '\2605';
  color: #FFF;
  font-size: 22px;
  font-weight: 700;
  margin-right: 7px;
}
.warning {
  background: #902D19;
}
.warning:before {
  content: '\203C';
}

.info {
  background: #24A5CE;
}
.info:before {
  content: '\24D8';
}

.tlu-rel {
  display: flex;
  padding: 0;
}
.tlu-rel-img {
  width: 90px;
  height: 90px;
  margin-right: 20px;
  background-size: cover;
  border-radius: 5px;
  margin-left: 10px;
}

/* Mathjax */
mjx-container[jax="CHTML"][display="true"] {
  background: #f6f7f9;
  padding: 10px 5px;
}
mjx-math {
  font-size: 90% !important;
}

/* Nav */
.light-nav {
  margin-top: 30px;
}
.light-nav .top-nav .nav__list .nav__item .nav__link {
  color: #FFF;
}
.light-nav .nav-buttons {
  color: #FFF;
}

a.menu-active {
  color: #6416B8 !important;
  font-weight: 600;
}

/* Modules */
.modules {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  margin: 30px auto 0 auto;
  padding-left: var(--sidepadding);
  padding-right: var(--sidepadding);
}

.module {
  background: #FFF;
  box-shadow: var(--boxshadow);
  border-radius: var(--borderradius);
  padding: 20px;
  height: 90%;
  min-height: 350px;
  display: flex;
  align-items: flex-start;
  position: relative;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
.modulesvgs {
  width: 70px;
  height: auto;
  display: block;
  margin-left: -40px;
  margin-right: 10px;
  margin-top: 10px;
}
.card p {
  color: var(--textcolor);
}
.card h3 {
  color: var(--headingcolor);
}
.moduleHeading {
  margin-bottom: 0;
  margin-top: 30px;
}
.moduleLine {
  margin: 25px 0;
}
.module:hover {
  transform: scale(1.02);
  box-shadow: var(--boxshadow-hover);
}
.moduleTime {
  color: #FFF;
  display: block;
  background: #45414B;
  position: absolute;
  right: 0;
  padding: 5px 10px 5px 5px;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.moduleTick {
  text-align: right;
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
}
.tickShow {
  display: block;
}
.moduleInner {
  width: 100%;
  height: 100%;
  position: relative;
}

/* Tablet and up */
@media (min-width: 550px) {
  .modules {
    grid-template-columns: repeat( auto-fit, minmax(450px, 1fr) );
    max-width: var(--maxwidth);
    grid-gap: 45px;
  }

  .modulesvgs {
    width: 95px;
    margin-left: -50px;
    margin-right: 20px;
  }
}

.key {
  display: flex;
  justify-content: center;
  margin: 30px 10px;
  font-size: 12px;
  flex-direction: column;
}
.key-item {
  margin: 0 20px;
}
.key-item img {
  width: 20px;
  margin: 0 5px 5px 0;
}
@media (min-width: 750px) {
  .key{
    flex-direction: row;
  }
}
.laptop {
  display: none;
}
@media (min-width: 992px) {
  .laptop{
    margin: 20px;
    display: block;
  }
}
@media (min-width: 1201px) {
  .laptop{
    margin-bottom: -120px;
    margin-left: -120px;
    display: block;
  }
}
.topicon {
  width: 70px;
  margin-bottom: 10px;
}
/* Selftest Accordion */

ul.jekyllcodex_accordion {position: relative; margin: 1.4rem 0!important; border-bottom: 2px solid #E5E5E5; padding-bottom: 0;}
ul.jekyllcodex_accordion li {border-top: 2px solid #E5E5E5; list-style: none; margin-left: 0;}
ul.jekyllcodex_accordion li input {display: none;}
ul.jekyllcodex_accordion li label {display: block; cursor: pointer; padding: 1.4rem 2.4rem 1.4rem 0; margin: 0; font-weight: bold; color: #1b202b;}
ul.jekyllcodex_accordion li div {display: none; padding-bottom: 1.2rem;}
ul.jekyllcodex_accordion li input:checked + label {font-weight: bold;}
ul.jekyllcodex_accordion li input:checked + label + div {display: block;}
ul.jekyllcodex_accordion li label::before {content: ">"; font-family: 'Manrope', sans-serif; color: #6416B8; font-weight: normal; font-size: 150%; line-height: 1.1rem; padding: 0; position: absolute; right: 0.5rem; transition: all 0.2s ease-in-out;}
ul.jekyllcodex_accordion li input:checked + label::before {transform: rotate(90deg);}
.jekyllcodex_accordion p {margin-bottom: 0; font-size: 1.25rem;}
.accordion-content p {font-size: 16px;}

.post__navigation .post__prev, .post__navigation .post__next {
  margin-top: 30px;
}

/* Retainable */
#rtb .rtb-row .post-image {
  margin-bottom: 20px;
}
#rtb .mt-2 {
  font-style: italic;
  margin-bottom: 10px;
  font-size: 14px;
}
#rtb h1 {
  font-size: 22px;
  margin-bottom: 10px;
}
#rtb h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
#rtb h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
#rtb h4 {
  font-size: 16px;
  margin-bottom: 10px;
}
#rtb h5 {
  font-size: 14px;
  margin-bottom: 10px;
}
#rtb h6 {
  font-size: 12px;
  margin-bottom: 10px;
}
#rtb .rtb-row .read-more {
  text-align: center !important;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #F8F8F8;
  border-radius: 5px;
}

/* TLU Hero Section */
.tlu-hero {
  margin-top: 20px;
  text-align: center;
}
.tlu-hero-img {
  padding: 80px 10px 80px 10px;
  border-radius: 5px;
  background-size: cover;
  background-position: top center;
}
.tlu-hero-title {
  color: #FFF;
  font-size: 2.25rem;
  line-height: 1em;
  margin-bottom: 15px;
}
.tlu-hero-tags a {
  font-size: 13px;
  letter-spacing: 1px;
  margin-top: -10px;
}
.author {
  font-style: italic;
  border-bottom: 1px solid #EEE;
  padding-bottom: 30px;
}
/* Footer */
.footer {
  margin-top: 5px !important;
}
.copyright a {
  font-size: 13px;
}
.bottom-nav {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  gap: 5px;
  width: 100%;
}
.bottom-nav a {
  flex-basis: 150px;
  flex-grow: 1;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 500;
  font-size: 14px;
}
p img {
  display: block;
  margin: 10px auto;
}

@media(min-width: 769px) {
  .bottom-nav {
    max-width: 300px;
  }
  .bottom-nav a {
    flex-basis: 130px;
  }
  .bottom-nav-separator {
    display: none;
  }
}
.flex-reverse {
  flex-wrap: wrap-reverse !important;
}
.article-meta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.time-to-read {
  font-size: 12px;
  letter-spacing: 0.5px;
  color: #748094;
  text-transform: uppercase;
}
@media(min-width: 1280px) {
  .article-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
