.topmenu ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.topmenu li a {
  color: #333;
  padding-top: 10px;
  padding-bottom: 10px;
}

.secondary a {
  padding: 15px;
}

.topmenu ul li ul {
  visibility: hidden;
  opacity: 0;
  min-width: 300px;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 20px;
  padding-top: 10px;
  left: -20px;
  display: none;
  box-shadow: 7px 10px 28px rgba(35, 11, 73, 0.09);
  border-radius: 5px;
  background: rgba(250,250,250,0.98);
}

.light-nav ul li ul {
  background: rgba(28,12,39,0.97);
}

.light-nav .topmenu ul li ul li {
  border-bottom: 1px solid #20102D;
}

.topmenu li:hover,
.topmenu li:focus-within {
  cursor: pointer;
}

.topmenu li:focus-within a {
  outline: none;
}

.topmenu ul li:hover > ul,
.topmenu ul li:focus-within > ul,
.topmenu ul li ul:hover,
.topmenu ul li ul:focus {
   visibility: hidden;
   opacity: 1;
   display: none;
   z-index: 100;
}

.topmenu ul li ul li {
  clear: both;
  width: 100%;
  padding: 10px 20px;
  border-bottom: 1px solid #EEE;
}

@media (min-width: 769px) {
  .topmenu li {
    display: block;
    float: left;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
  }
  .topmenu ul li:hover > ul,
  .topmenu ul li:focus-within > ul,
  .topmenu ul li ul:hover,
  .topmenu ul li ul:focus {
     visibility: visible;
     opacity: 1;
     display: block;
     z-index: 100;
  }
}
