/*
 Override the font size to get more info on each slide
*/
.reveal {
  font-size: 32px;
}

.reveal h1 {
  font-size: 2em;
  color: #fff
}

.reveal h2 {
  font-size: 1.5em;
  color: #ddd
}

.reveal h3 {
  font-size: 1.2em;
  color: #bbb
}

.reveal h4 {
  font-size: 1.1em;
  color: #aaa
}

.reveal pre {
  font-size: 0.5em;
  line-height: 1.1em;
}

.reveal small {
  font-size: 0.4em;
  line-height: 1.1em;
}

.red {
  color: #f00
}

.green {
  color: #0f0
}

.blue {
  color: #00f
}

.reveal strong {
  color: yellow
}

.reveal img {
  width: 200px;
}

.reveal .s100px img {
  width: 100px;
}

.reveal .s150px img {
  width: 150px;
}

.reveal .s200px img {
  width: 200px;
}

.reveal .s250px img {
  width: 250px;
}

.reveal .s300px img {
  width: 300px;
}

.reveal .s350px img {
  width: 350px;
}

.reveal .s400px img {
  width: 400px;
}

.reveal .s450px img {
  width: 450px;
}

.reveal .s500px img {
  width: 500px;
}

.reveal .s550px img {
  width: 550px;
}

.reveal .s600px img {
  width: 600px;
}

.reveal .s650px img {
  width: 650px;
}

.reveal .s700px img {
  width: 700px;
}

.reveal .s750px img {
  width: 750px;
}

.reveal .s800px img {
  width: 800px;
}

.reveal .s850px img {
  width: 850px;
}

.reveal .s900px img {
  width: 900px;
}

.reveal div.float-left {
  float: left;
}

.reveal div.float-right {
  float: right;
}

.reveal div.bottom-left {
    position: absolute;
    left:0;
    bottom:0;
}

.reveal div.bottom-right {
    position: absolute;
    right:0;
    bottom:0;
}

.reveal div.bottom-center {
    position: absolute;
    left:0;right:0;
    bottom:0;
}

.reveal div.left-25 {
  float: left;
  z-index: -10;
  width: 25%;
  text-align: left;
}

.reveal div.right-75 {
  float: right;
  z-index: -10;
  width: 75%;
  text-align: right;
}

