/*
 Override the font size to get more info on each slide
*/
.reveal {
  font-size: 32px;
}

.reveal h1 {
  font-size: 2em;
  color: #fff
}

.reveal h2 {
  font-size: 1.5em;
  color: #ddd
}

.reveal h3 {
  font-size: 1.2em;
  color: #bbb
}

.reveal h4 {
  font-size: 1.1em;
  color: #aaa
}

.reveal pre {
  font-size: 0.5em;
  line-height: 1.1em;
}

.reveal small {
  font-size: 0.4em;
  line-height: 1.1em;
}

.red {
  color: #f00
}

.green {
  color: #0f0
}

.blue {
  color: #00f
}

.reveal strong {
  color: yellow
}

.reveal img {
  width: 200px;
}

.img-25 img {
  width: 25%;
}

.img-30 img {
  width: 30%;
}

.img-40 img {
  width: 40%;
}

.img-50 img {
  width: 50%;
}

.img-75 img {
  width: 75%;
}

.reveal div.left-25 {
  float: left;
  z-index: -10;
  width: 25%;
  text-align: left;
}

.reveal div.right-75 {
  float: right;
  z-index: -10;
  width: 75%;
  text-align: right;
}

