@use 'mixins';

// Display
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}


// Display State
.show {
  display: block;
}

.hide {
  display: none;
}

.invisible {
  visibility: hidden;
}


// Lists Reset
.list-reset {
  @include mixins.list-reset();
}

// Clearfix
.clearfix {
  @include mixins.clearfix();
}

// Screen Reader
.screen-reader-text {
  @include mixins.screen-reader();
}