---
layout: default
---

<!-- begin hero -->
<div class="container" style=" margin-bottom: 120px;">
  <div class="row">
    <div class="col col-12">
      <div class="hero section">
        {% include hero-navigation.html %}
        <div class="hero__inner">
          {% if page.image %}
          <div class="tlu-hero">
            <div class="tlu-hero-img" style="background-image: url('{{site.baseurl}}{{page.image}}');">
              <img src="/images/icons/light-course.svg" class="topicon" />
              <h1 class="tlu-hero-title">
                Course {{ page.courseno }}:<br />
                {{ page.title | escape }}</h1>
                  <div class="post__meta">
                    {% if page.tags.size >= 1 %}
                    <div class="post-tags">
                      {% for tag in page.tags %}
                      <a href="{{ site.baseurl }}/tag/{{ tag }}" class="post-tags__tag tlu-hero-tags">{{ tag }}</a>
                      {% endfor %}
                    </div>
                    {% endif %}
                </div>
              </div>
            </div>
          {% endif %}
          <div>
          <div class="container" style="padding-top: 10px;">
            <div class="row" style="align-items: center;">
              <div class="col col-6 col-d-12">
                <img src="/images/laptop-1.png" class="laptop">
              </div>
              <div class="col col-6 col-d-12">
                <p style="font-weight: 500; font-size: 20px; line-height: 28px; margin-top: 30px;">{{ page.description }}</p>
                <p style="font-weight: 600;">Audience: {{ page.audience }}</p>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end hero -->

{% if page.goals %}
<div class="banner learn" style="margin-top: 250px; margin-bottom: 150px; position: relative; height: 500px;">
  <div class="container">
    <div style="position: relative; width: 100%;">
    <img src="/images/circles-blue.png" style="position: absolute; bottom: -50px; left: -300px;"/>
    <img src="/images/circles-blue.png" style="position: absolute; top: -100px; right: -300px;"/>
      <div class="container__inner section" style="display: flex; flex-direction: column; justify-content: center; align-items: center; position: relative;">
        <img src="/images/title-learn.svg" style="margin-bottom: 50px; margin-top: -110px; text-align: center;"/>
          <ul>
          {% for item in page.goals %}
              <li>{{ item.goal }}</li>
          {% endfor %}
          </ul>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div style="text-align: center;">
  <img src="/images/title-modules.svg" />
</div>

{{ content }}

<div class="key" style="margin-bottom: 100px;">
  <div class="key-item"><img src="/images/icons/key-beginner.svg">Beginner</div>
  <div class="key-item"><img src="/images/icons/key-intermediate.svg">Intermediate</div>
  <div class="key-item"><img src="/images/icons/key-advanced.svg">Advanced</div>
  <div class="key-item"><img src="/images/icons/key-article.svg">Article</div>
  <div class="key-item"><img src="/images/icons/key-presentation.svg">Presentation</div>
  <div class="key-item"><img src="/images/icons/key-report.svg">Report</div>
  <div class="key-item"><img src="/images/icons/key-video.svg">Video</div>
</div>
